{% load static from staticfiles %}
<!-- USE STYLES IN ASSETS FOLDER TO IMPORT CSS FORMATTING -->
<!DOCTYPE html>
<html>
    <head>
        <title>PodCloud</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- TO IMPORT BS FROM INTERNET <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">       
    </head>
    <body>
        <div class="bg-image">  </div>
        <nav class="nav justify-content-end">
            <p class="mr-auto" id="title">PodCloud</p>
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/signup">Signup</a>
            <a class="nav-link" href="/login">Login</a>
        </nav>
        {% block content %}
        REPLACE ME 
        {% endblock %}
    </body>
</html>


