{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method='POST' enctype='multipart/form-data'> {% csrf_token %}
    
    <span class="login100-form-title p-b-34 p-t-27">
        Create Podcast 
    </span>

    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name='name' placeholder="Name">
        <span class="focus-input100" data-placeholder="&#xf2ce;"></span>
    </div>
    
    {% if userForm.name.errors %}
        <div class="form-error">
            {{ userForm.name.errors }}
        </div>
    {% endif %}

    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name='author' placeholder="Author">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    {% if userForm.author.errors %}
        <div class="form-error">
            {{ userForm.author.errors }}
        </div>
    {% endif %}


    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name='published_date' placeholder="Published Date" onfocus="(this.type='date')" onblur="(this.type='text')">
        <span class="focus-input100" data-placeholder="&#xf278;"></span>
    </div>

    {% if userForm.published_date.errors %}
        <div class="form-error">
            {{ userForm.published_date.errors }}
        </div>
    {% endif %}


    <div class="wrap-input100 validate-input">
        <input class="input100" type="text" name='description' placeholder="Description">
        <span class="focus-input100" data-placeholder="&#xf10c;"></span>
    </div>

    {% if userForm.description.errors %}
        <div class="form-error">
            {{ userForm.description.errors }}
        </div>
    {% endif %}


    <div class="container-login100-form-btn p-t-20">

    <label class="login100-form-btn file-input">
            Upload Podcast's Image 
            <input styles='cursor: pointer;' type="file" name='podcast_image' hidden>
        </label>
    </div>

    {% if userForm.podcast_image.errors %}
        <div class="form-error">
            {{ userForm.podcast_image.errors }}
        </div>
    {% endif %}

   

    <div class="container-login100-form-btn p-t-20">
        <button class="login100-form-btn" type='submit' value='Login'>
            Submit
        </button>
    </div>

    <div class="text-center p-t-20">
        <a class="txt1" href="/login">
            Want to logout?
        </a>
    </div>

</form>	

{% endblock %}