{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method='POST' enctype='multipart/form-data'> {% csrf_token %}
    <div> Name {{ userForm.name }} {{ userForm.name.errors }}</div>
    <div> Description {{ userForm.description }} {{ userForm.descrption.errors }}</div>
    <div> Author {{ userForm.author }} {{ userForm.author.errors }}</div>
    <div> Date {{ userForm.published_date }} {{userForm.published_date.errors}}</div>
    <div> Image {{ userForm.podcast_image }} {{userForm.podcast_image.errors}}</div>
    <!--<div> username {{ form.username }} {{form.username.errors}}</div>-->
    <div class="col">
        <input type='submit' value='Submit'/>
    </div>
</form>

{% endblock %}
