{% extends 'base.html' %}
{% load static %}


{% block wrapper %} 
    <div class="wrap-delete100">
{% endblock %}


{% block logo %}
{% endblock %}

{% block content %}

<form action="." method='POST'> {% csrf_token %}
    <div class='txt5'>Are you sure that you want to delete "{{ object.name }}" podcast?</div>
  
<div class='row'>
    <div class='col'>
        <div class="container-login100-form-btn p-t-20">
            <button class="login100-form-btn" type='submit' value='Login'>
                Yes
            </button>
        </div>     
    </div>
    <div class='col'>
        <div class="container-login100-form-btn p-t-20">
            <a class='login100-form-btn' href='/user-dashboard'>Cancel</a>
            </button>
        </div> 
    </div>
</form>



{% endblock %}
