{% extends 'base.html' %}
{% load static %}

{% block content %}

<p>127.0.0.1:8000{% url 'example' %}?id={{object.id}} </p>

<p>name {{ object.name }}</p>
<p>description {{ object.description }}</p>
<img src="{{ object.podcast_image.url }}"/>
<p>published_date {{ object.published_date }}</p>
<p>author {{ object.author }}</p>

<a class="btn btn-primary" href="/podcast/{{ object.id }}/create_episode">Create Episode</a>
<a class="btn btn-primary"  href="/podcast/{{ object.id }}/delete">Delete Podcast</a>

{% for instance in object_list %}
    <a class="btn btn-primary" href="/episode/{{ instance.id }}">{{ instance.name }}</a>
{% endfor %}


{% endblock %}





