{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method='POST' enctype='multipart/form-data'> {% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-11">
                                <div class="fieldWrapper">
                                    <label>Name<span style="color: red;"> *</span></label>
                                      <div>{{ form.name }}</div> {{ form.name.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-11">
                                <div class="fieldWrapper">
                                    <label>Phone Number<span style="color: red;"> *</span></label>
                                        <div>{{ form.phone_number }}</div> {{ form.phone_number.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-11">
                        <div class="fieldWrapper">
                            <label>Email<span style="color: red;"> *</span></label>
                                <div>{{ form.email }}</div> {{ form.email.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-11">
                                <div class="fieldWrapper">
                                    <label>City:</label>
                                        <div>{{ form.city }}</div> {{ form.city.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-11">
                                <div class="fieldWrapper">
                                    <label>Country:</label>
                                        <div>{{ form.country }}</div> {{ form.country.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="color: red; position: relative; bottom: 20px;">* Inicates required field</p>
                </div>
                <div class="col">
                    <input type='submit' value='Submit'/>
                </div>
            </div>     
        </div>
        <div class="col">
            <div class="form-group">
                <div class="fieldWrapper">
                    <label>Bio:</label>
                        <div>{{ form.bio }}</div> {{ form.bio.errors }}
                </div>
            </div>
            <div class="fieldWrapper">
                <label for="id_profile_picture">Profile Picture:</label> {{ form.profile_picture.errors }}
                <div class="avatar-preview">
                    <div id="imagePreview"> 
                    </div>
                </div>
                    {{ form.profile_picture }}
            </div>
        </div>
        <div>
            {{ form.password }} {{ form.password.errors }}
        </div>
        <div>
            {{ form.password_confirmation }} {{ form.password_confirmation.errors }}
        </div>
        <div>
           Username {{ form.username }} {{ form.username.errors }}
        </div>
</form>
<div>

</div>
{% endblock %}
