{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static from staticfiles %}

<link rel="stylesheet" href="{% static 'styles.css' %}">    
<form method='POST' enctype='multipart/form-data'> {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="fieldWrapper">
                                <div>{{ form.name }}</div> 
                            </div>
                            {% if form.name.errors %}
                            <div class="formError">
                                {{ form.name.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <div class="fieldWrapper">
                                <div>{{ form.username }}</div> 
                            </div>
                            {% if form.username.errros %}
                            <div class="formError">
                                {{ form.username.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="fieldWrapper">
                                <div>{{ form.password }}</div> 
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fieldWrapper">
                                <div>{{ form.password_confirmation }}</div> 
                            </div>
                        </div>
                    </div>
                    {% if form.password.errors %}
                    <div class="formError">
                        {{ form.password.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="container">
                    <div class="row">
                        <div>{{ form.email }}</div>  
                    </div>
                    {% if form.email.errors %}
                    <div class="formError">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="container">
                    <div class="row">
                        <div>{{ form.phone_number }}</div>  
                    </div>
                    {% if form.phone_number.errors %}
                    <div class="formError">
                        {{ form.phone_number.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="fieldWrapper">
                                <div>{{ form.city }}</div> 
                            </div>
                            {% if form.city.errors %}
                            <div class="formError">
                                {{ form.city.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <div class="fieldWrapper">
                                <div>{{ form.country }}</div> 
                            </div>
                            {% if form.country.errors %}
                            <div class="formError">
                                {{ form.country.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!--SECOND MAJOR COLUMN-->
            <div class="col">
                2 of 2
            </div>
        </div>
    </div>
    <div class="col">
        <input type='submit' name='submit' value='Submit'/>
    </div>
</form>
{% endblock %}
