{% extends 'base.html' %}
{% load static %}

{% block wrapper %} 
<div class="wrap-dashboard100">
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}


<div class='row'>
    <div class='col-4'>
        <div class='circle-image-cropper'>
            <img class='profile-image' src="{{ poduser.profile_picture.url }}" alt='Poduser image'>
        </div>
    </div>
    <div class='col-8 object-info'>
        <div class='row'>
                {{ poduser.name|title }}
            </div>
        <div class='row'>
            <div>
                {{ poduser.city|title }}, {{ poduser.country|title }}
            </div>
        </div>
        <div class='row'>
            <div class="wrap-description txt-dashboard-description">
                {{ poduser.bio|title }} I want to be really good at coding, in order to do that I need to make sure I invest my time properly, that's why I time box everything I do and use forest app that I just downloaded yesterday.
            </div>        
        </div>
    </div> 
</div>

<div class='row'>
    <div class='wrap-input100' id='my-podcasts'>
        My Podcasts
    </div>
</div>

{% for instance in object_list %}
<div class='row'>
    <div class='col-4'>
        <div class='hovereffect'>
            <a href='/user-dashboard/podcast/{{ instance.id }}'>
                <div class='square-image-cropper'>
                    <img class='square-image' src="{{ instance.podcast_image.url }}" alt=''>
                </div>
            </a>
        </div>
    </div>
    <div class='col-8 podcast-info'>   
        <div class='row'>
            {{ instance.name|title }}
        </div>
        <div class='row txt1'>
            By {{ instance.author|title }}
        </div>
        <div class='row txt1'>
            {{ instance.published_date}}
        </div>
        <div class='row'>
            <div class="wrap-description txt-dashboard-description">
                {{ instance.description|title }}  
            </div>
        </div>
    </div>
    <a class='txt1' href="/podcast/{{ instance.id }}/delete">
        <div class='wrap-input100' id='my-podcasts-each'>Delete Podcast?
        </a>
    </div>
</div>

{% endfor %}

<div class="container-login100-form-btn p-t-20">
    <a href="/user-dashboard/create-podcast">
    <button class="login100-form-btn" type='submit' value='Login'>
            Create Podcast
    </button></a>
</div>

<div class="text-center p-t-20">
    <a class="txt1" href="/login">
        Want to logout?
    </a>
</div>

{% endblock %}


